%header#masthead
  %ul.nav
    %li(class="#{data.page.css == 'pixel-grid' ? 'active' : nil}")
      = link_to 'Pixel Grid', 'pixel.html', :relative => true
    %li(class="#{data.page.css == 'fluid-grid' ? 'active' : nil}")
      = link_to 'Fluid Grid', 'fluid.html', :relative => true
    %li(class="#{data.page.css == 'bbc' ? 'active' : nil}")
      = link_to 'BBC Homepage', 'bbc.html', :relative => true
    %li(class="#{data.page.css == 'arstechnica' ? 'active' : nil}")
      = link_to 'Arstechnica Article', 'arstechnica.html', :relative => true
    %li(class="#{data.page.css == 'guardian' ? 'active' : nil}")
      = link_to 'Guardian Homepage', 'guardian.html', :relative => true
